* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: rgba(100, 61, 61, 0.027);
}

/*  ////////////  home page /////// */
.home {
	display: flex;
	flex-direction: column;
}

.navbar {
	display: flex;
	overflow: hidden;
	width: 100%;
	height: 13em;
	align-items: center;
	justify-content: space-between;
	padding: 0 200px 0 0;
}
.menu li {
	margin: 0 20px;
	padding: 25px 10px;
	padding-top: 90px;
}
.menu a {
	color: #25434d;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	text-decoration: none;
	text-align: center;
	font-size: 24px;
}

.menu a span {
	padding: 10px 35px;
	color: white;
	font-size: 20px;
	background-color: #25434d;
	border-radius: 30px;
}
.menu a span:hover {
	color: rgb(29, 28, 28);
	transition: all 0.4s;
	background-color: #25434dc7;
}
.menu li a {
	position: relative;
}
.menu {
	list-style: none;
	display: flex;
}
.logo {
	display: flex;
	align-items: center;
	margin-left: 280px;
	font-family: "Lobster", cursive;
}
.logo h1 {
	font-size: 170px;
	color: #25434d;
}
.logo h1 span {
	font-size: 83px;
}

.background {
	width: 82em;
	height: 500px;
	margin-left: 20em;
	background-image: url("./assets/land.png");
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
}
.search-bar {
	width: 100%;
	max-width: 600px;
	background-color: rgba(250, 235, 215, 0.411);
	display: flex;
	align-items: center;
	border-radius: 40px;
	padding: 0px 20px;
	margin-bottom: 8em;
}

.search-bar input {
	background: transparent;
	flex: 1;
	outline: none;
	font-size: 24px;
	border: 0;
}
::placeholder {
	color: rgb(63, 61, 61);
	font-size: 24px;
}

.search-bar button {
	border: 0;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	background: transparent;
	cursor: pointer;
}

.search-results {
	margin-top: 120px;
	width: 570px;
	height: 150px;
	background-color: rgba(250, 235, 215, 0.719);
	overflow: hidden;
	overflow-y: auto;
	position: absolute;
	top: 305px;
	left: 690px;
	border-radius: 6px;
	padding-top: 20px;
}

.search-results::-webkit-scrollbar {
	display: none;
}

.search-item {
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	text-decoration: none;
	color: rgb(0, 0, 0);
	padding-left: 20px;
	padding-top: 25px;
	font-size: 24px;
	padding-bottom: 30px;
	border-bottom: rgba(250, 235, 215, 0.932) 0.1em solid;
}

/* //////////////responsive */
@media screen and (max-width: 768px) {
	.navbar {
		flex-direction: column;
		height: auto;
		padding: 2em;
	}

	.menu li {
		margin: 0.5em 0;
		padding: 0.5em;
		padding-top: 2em;
	}

	.menu {
		justify-content: center;
	}

	.logo {
		margin-left: 0;
		justify-content: center;
	}

	.logo h1 {
		font-size: 4em;
	}

	.background {
		margin-left: 0;
		margin-right: 0;
	}

	.search-bar {
		margin-bottom: 4em;
		padding: 0 0.5em;
	}

	.search-bar input {
		font-size: 1.2em;
	}

	.search-bar button {
		width: 3em;
		height: 3em;
	}

	.search-results {
		margin-top: 2em;
		top: 60%;
		max-width: 90%;
		height: 10em;
	}

	.search-item {
		padding-left: 0.5em;
		padding-top: 0.75em;
		font-size: 1.2em;
		padding-bottom: 0.75em;
	}
}

/* //////////////////// */
.activity {
	margin: 10px 280px;
	margin-bottom: 0px;
}
.activity h1 {
	color: #25434d;
	padding-top: 30px;
	margin-left: 0px;
	font-family: "Lobster", cursive;
	font-size: 40px;
	font-weight: 100;
	margin-bottom: 0px;
}
.activity p {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	padding: 10px 70px;
	padding-right: 120px;
	font-size: 17px;
}
.container-grid {
	margin-top: 20px;
}

.container-grid .container {
	background-color: #102830;
	margin-left: 150px;
	float: left;
	margin-top: -10px;
	box-shadow: 4px 0 10px #23424da1;
	position: relative;
	overflow: hidden;
	width: 300px; /* Adjust the width as needed */
	height: 200px; /* Adjust the height as needed */
}

.container-grid .container:hover .text-overlay {
	opacity: 1;
}

.container-grid .container img {
	width: 100%;
	height: auto;
	transition: transform 0.5s; /* Add transition property */
}

.container-grid .container:hover img {
	transform: scale(1.1); /* Apply scaling effect on hover */
}

.container-grid .container .text-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: end;
	opacity: 0;
	transition: opacity 0.5s;
	text-align: center;
	color: white;
	background-color: rgba(0, 0, 0, 0.582);
}

.container-grid .container .text-overlay h2 {
	background-color: #1a37415d;
	margin: 0;
	padding: 10px;
	padding-top: 0;
	width: 100%;
	margin-top: 120px;
	font-size: 18px;
}

.container-grid .container .text-overlay p {
	background-color: #1a37415d;
	margin: 0;
	padding: 10px;
	padding-top: 0;
	width: 100%;
	font-size: 14px;
}
.container-grid .item1 {
	width: 430px;
	height: 220px;
}

.container-grid .item2 {
	width: 375px;
	height: 250px;
}

.container-grid .item3 {
	width: 500px;
	height: 260px;
}

.container-grid .item4 {
	width: 450px;
	height: 300px;
}

.container-grid .item5 {
	width: 400px;
	height: 275px;
}

.container-grid .item6 {
	width: 390px;
	height: 250px;
}

/* ////////////// */
.explore {
	background-color: rgba(177, 177, 177, 0.096);
	margin: 0 6em;
	margin-bottom: 50px;
}
.explore .title-container {
	display: flex;
	align-items: center;
	margin-bottom: -20px;
}

.explore .title-container h1 {
	margin: 0;
	color: #25434d;
	margin-left: 4em;
	width: 100%;
	font-family: "Lobster", cursive;
	font-size: 42px;
	font-weight: 100;
}
.explore .title-container p {
	width: 100%;
	font-size: 19px;
	padding-top: 45px;
	margin-right: 7em;
	color: #1a3741;
}

.explore .main-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.explore .container {
	position: relative;
	margin: 80px;
}
.explore .main-container .box {
	width: 260px;
	height: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.explore .main-container .box1 {
	background: linear-gradient(90deg, #0d3f2211, #c99b7d09);
	z-index: 2;
}

.explore .main-container .box2 {
	background: linear-gradient(120deg, #0d3f2217, #b9aaa010);
	position: absolute;
	top: 50px;
	left: 50px;
	z-index: 1;
	padding: 0px 30px;
}
.explore .main-container .box2 h2 {
	font-family: "Lobster", cursive;
	font-size: 28px;
	font-weight: 100;
}
.explore .main-container .box2 p {
	font-size: 22px;
}

/* //////////// */

.popular-places h1 {
	font-size: 35px;
	color: #25434d;
	margin-left: 280px;
	font-family: "Lobster", cursive;
	font-size: 40px;
	font-weight: 100;
}
.popular-descr {
	padding: 10px 19em;
	font-size: 17px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.card-wrapper {
	position: relative;
	margin-left: 30px;
	display: flex;
	overflow-x: auto;
	align-items: center;
	width: 110em;
	padding: 20px 0px;
}

.card-wrapper > .category-card {
	display: flex;
	overflow-x: scroll;
	width: max-content;
	-ms-overflow-style: none;
	scrollbar-width: none; /* for Firefox */
}

.card-wrapper > .category-card::-webkit-scrollbar {
	display: none;
}

.category-card {
	display: flex;
	margin: 20px 250px 80px 280px;
}

.card-items {
	width: 300px;
	margin: 10px;
	border: 1px solid #ccc;
	border-radius: 2px;
	flex: 0 0 auto;
	margin-right: 20px;
}
.card-items:last-child {
	margin-right: 0;
}
.card-items img {
	width: 100%;
	height: 280px;
	object-fit: cover;
}
.card-items .card-item-one {
	display: flex;
	flex-direction: column;
}
.card-items h2 {
	margin: 10px;
	font-family: "Lobster", cursive;
	font-size: 22px;
	font-weight: 100;
}

.card-items p {
	margin: 15px;
	display: flex;
	align-items: center;
	margin-top: 0px;
}

.card-items svg {
	font-size: 30px;
	margin-right: 10px;
}

.scroll-icon {
	position: absolute;
	top: 38%;
	transform: translateY(-50%);
	z-index: 1;
	background-color: #8cbec042;
	color: #167c80e3;
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	padding: 15px;
	cursor: pointer;
  }
  
  .scroll-icon:hover {
	background-color: #167c8042;
	color: white;
  }
  
  .scroll-icon svg {
	font-size: 18px; /* Adjust the font size to decrease the icon size */
  }
  
  .scroll-icon-left {
	left: 12em;
  }
  
  .scroll-icon-right {
	right: 10em;
  }
  

/* ////////////////// */
.footer {
	margin: 0;
	padding: 0;
	background-color: rgba(128, 128, 128, 0.397);
	color: rgb(255, 255, 255);
	font-size: 23px;
	display: flex;
	align-items: center;
	padding-left: 35%;
}

.logo-bottom {
	display: flex;
	justify-content: space-around;
	margin: 0 400px 0 240px;
	font-size: 25px;
	color: #25434d;
}
.logo-bottom h6 {
	color: #25434d;
	font-family: "Lobster", cursive;
	font-size: 22px;
	font-weight: 100;
	margin-bottom: 0;
}
.logo-bottom-one p {
	font-family: "Lobster", cursive;
	color: #25434d;
}
.logo-bottom-one h1 {
	font-family: "Lobster", cursive;
	font-size: 60px;
	padding-left: 20px;
	margin-bottom: 0;
}
.logo-bottom-one h1 span {
	font-size: 35px;
}

.logo-bottom p {
	font-size: 20px;
}

.line {
	height: 1px;
	background-color: #ccc;
	margin: 70px 270px 0 270px;
}

.socials {
	margin-top: 100px;
	margin-left: 710px;
}
.social-items {
	list-style: none;
	display: inline-block;
	margin-right: 35px;
	border-radius: 50%;
	border: solid 2px #25434d;
	padding-top: 10px;
	width: 50px;
	text-align: center;
	line-height: 26px;
}

.social-items:hover {
	border: #25434d;
	background-color: #25434d;
}
.social-items li {
	background-color: aqua;
	border-radius: 20px;
}
.social-items a {
	font-size: 24px;
	color: #25434d;
}
.social-items a:hover {
	color: white;
}
.center-text {
	text-align: center;
	font-size: 15px;
	margin-bottom: 80px;
}

/* //////////    hotels page  */

.hotels {
	background-image: url("./assets/hotels-bak.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 46em;
}
.hotels::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 46em;
	background-color: rgba(0, 0, 0, 0.945);
	opacity: 0.5;
}

.hotels-nav {
	position: relative;
	z-index: 1;
	display: flex;
	overflow: hidden;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	padding: 10px 80px 20px 80px;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	color: white;
}

.hotels-nav h1 {
	font-family: "Lobster", cursive;
	font-size: 70px;
	font-weight: 300;
	margin-left: 100px;
	color: #ccc;
	margin-top: 40px;
}

.hotels-nav .hotel-list {
	list-style: none;
	display: flex;
}
.hotel-list li {
	margin: 0 20px;
	padding: 25px;
	font-size: 25px;
}
.hotel-list a {
	color: white;
	text-decoration: none;
	text-align: center;
}

.hotel-list button {
	margin-top: 23px;
	margin-left: 30px;
	border-radius: 6px;
	background-color: rgba(250, 235, 215, 0.158);
	border: solid 1px rgba(250, 235, 215, 0.616);
	height: 40px;
	color: rgb(255, 250, 250);
	padding: 5px 30px;
	font-size: 20px;
}
.hotel-list button:hover {
	background-color: rgba(250, 235, 215, 0.377);
}
.hotel-descr {
	position: relative;
	z-index: 1;
	color: rgb(255, 255, 255);
	height: 5em;
	width: 60em;
	margin-left: 30em;
	display: flex;
	align-items: center;
	justify-content: center;
}

.hotel-descr-item {
	/* padding: 10px; */
	font-size: 46px;
	font-family: "Luxurious Script", cursive;
	font-weight: 200;
}
.hotel-descr-item h6 {
	font-size: 2em;
	font-weight: 100;
	margin-bottom: 0;
}
.hotel-descr-item p {
	margin-top: 0;
	margin-left: 20%;
}

.hotel-home {
	position: relative;
	z-index: 1;
	display: flex;
	color: white;
	list-style: none;
	margin-left: 30%;
	margin-top: 200px;
}

.hotel-home-list a {
	padding: 10px 75px;
	color: white;
	text-decoration: none;
	text-align: center;
	font-size: 30px;
	position: relative;
}

.hotel-home-list a:before {
	content: "";
	position: absolute;
	top: 87%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 0;
	height: 3px;
	background-color: rgba(250, 235, 215, 0.74);
	transition: width 0.2s ease-in-out;
}

.hotel-home-list a:hover:before {
	width: 40%; /* change the width to 100% on hover */
}

.hotels .hotel-form {
	position: relative;
	/* z-index: 1; */
	margin: 4em 16em;
	border-radius: 4px;
	font-size: 20px;
	background-color: rgba(250, 235, 215, 0.404);
}
.hotels .hotel-book-form {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	padding: 10px 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
}
.hotels .hotel-form .hotel-book {
	display: flex;
	align-items: center;
}

.hotels .hotel-book input {
	border: solid 0px rgba(255, 255, 255, 0.39);
	border-radius: 6px;
	background-color: rgba(255, 255, 255, 0.185);
	height: 38px;
	width: 7em;
	margin-left: 15px;
	font-size: 25px;
	align-items: center;
	color: rgba(255, 255, 255, 0.822);
	padding-left: 17px;
}
.hotels .hotel-book input::placeholder {
	color: rgba(255, 255, 255, 0.822);
}
.hotels .hotel-book button {
	font-size: 22px;
	border: solid 0px rgba(255, 255, 255, 0.39);
	border-radius: 12px;
	background-color: rgba(255, 255, 255, 0.288);
	color: white;
	padding: 10px 25px;
}
.hotels .hotel-book button:hover {
	background-color: rgba(250, 235, 215, 0.575);
}
/* ///////////////////// /////////////////////// */

.hotel-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
}
.hotel-card-list::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: -1;
}

.hotel-card-list {
	background-image: url("./assets/hotelo.jpg");
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	flex-direction: column;
	width: 70em;
	margin: 20px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	overflow: hidden;
	height: 25em;
	color: white;
	justify-content: start;
	align-items: center;
	flex: start;
	transition: opacity 0.8s ease-in-out;
}
.hotel-card-list:hover {
	transform: scale(1.01);
	background-color: rgba(0, 0, 0, 0.637);
}
.hotel-item {
	list-style: none;
	padding: 10px;
	font-weight: bold;
	font-family: "Luxurious Script", cursive;
	font-size: 45px;
	display: flex;
	align-items: center;
	margin: 2px;
	margin-left: 4em;
}

.hotel-row {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 0.7em;
	width: 10em;
	font-size: 46px;
	padding: 0 4.5em 0 0.2em;
}

.hotel-card-list .hotel-item button {
	margin-left: 7.5em;
	font-size: 45px;
	background-color: transparent;
	border: none;
}

.hotel-hover {
	opacity: 0;
	list-style: none;
	transition: opacity 0.6s ease-in-out;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 20px;
}

.hotel-card-list:hover .hotel-hover {
	opacity: 1;
}

.hotel-hover-item {
	display: flex;
}
.hotel-hover-item li {
	list-style: none;
	margin-top: 25px;
	padding: 0px 40px;
	font-size: 23px;
}
.hotel-hover button {
	margin-top: 20px;
	margin-bottom: 2em;
	border-radius: 28px;
	border: solid rgba(255, 255, 255, 0.363) 2px;
	font-size: 22px;
	color: white;
	font-family: "Times New Roman", Times, serif;
	background-color: rgba(255, 255, 255, 0.363);
	padding: 5px 55px;
	background: transparent;
}

.hotels-footer {
	background-color: rgba(231, 231, 231, 0.205);
	width: 100%;
	position: relative;
	z-index: 1;
	top: 5%;
}
.hotels-footer-one {
	display: flex;
	align-items: center;
	flex-direction: column;
}
.hotels-footer-one h2 {
	font-size: 40px;
	margin-bottom: 0px;
}
.hotels-footer-one .footer-title {
	margin-top: 0px;
	color: red;
}
.hotels-footer-one ul {
	display: flex;
	list-style: none;
}

.footer-nav {
	margin-top: 0px;
	font-size: 23px;
}
.footer-nav li {
	color: rgb(32, 32, 73);
	padding: 10px 35px;
}

.footer-nav li:hover {
	color: red;
}

.hotels-footer .hotel-social {
	border: solid 2px rgb(32, 32, 73);
	font-size: 25px;
	height: 40px;
	width: 40px;
	border-radius: 50px;
	margin-right: 40px;
	padding: 5px 20px 20px 5px;
}

.hotel-social:hover {
	background-color: rgb(32, 32, 73);
	border-color: rgb(32, 32, 73);
}

.hotel-social:hover a svg {
	fill: white !important;
}

.hotels-footer .footer-para {
	width: 36%;
	padding: 10px 20px;
}
.hotel-container {
	width: 90%;
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgb(32, 32, 73);
}

.footer-para {
	text-align: center;
}

/* ////////////////////// each hotel //////////// */

.each-hotel {
	background-image: url("./assets/hotelo.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
	width: 89em;
}
.each-hotel .hotel-nav {
	margin-left: 8px;
}
.each-hotel::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 74.2%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.945);
	opacity: 0.5;
}

.each-hotel .hotel-descr-item {
	background-color: rgba(250, 235, 215, 0.151);
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	margin-right: 12em;
	margin-top: 5em;
	font-size: 4em;
}

.each-hotel .hotel-descr-item h4 {
	font-weight: 500;
	width: 10em;
	margin: 0px;
	padding-left: 10px;
}

.sidebar {
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center right;
	width: 24%;
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
	overflow-y: scroll;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
.sidebar::-webkit-scrollbar {
	display: none;
}
.container-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: start;
	margin: 40px 20px 30px 0px;
}

.container img {
	width: 100%;
	height: 16em;
}

.sidebar-box {
	backface-visibility: hidden;
	background-color: #fff;
}

.sidebar li:hover img {
	transform: scale(1.15);
}

.sidebar-img {
	display: block;
	overflow: hidden;
}

.sidebar-img img {
	transition: all 1s;
}

.container h3 {
	margin-top: 10px;
	margin-bottom: 0px;
	font-size: 20px;
	font-weight: bold;
}

.container p {
	margin-top: 5px;
	font-size: 16px;
}

.each-hotel .footer-nav-socials {
	position: relative;
	z-index: 1;
	font-size: 30px;
	top: 10em;
	margin-left: 30em;
	margin-right: 40px;
	display: flex;
	justify-content: space-around;
	font-size: 35px;
}

.each-hotel .footer-nav-socials li {
	border: 2px white solid;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	list-style: none;
	padding: 7px 6px;
}
.each-hotel .footer-nav-socials li {
	background: transparent;
}
.each-hotel .footer-nav-socials li:hover a svg {
	fill: rgb(58, 58, 134) !important;
}

/* //////////// city style ///////// */

.city {
	background-image: url("./assets/addis2.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
}

.city-homepage {
	display: flex;
	justify-content: space-between;
}

.city-name {
	flex: 1.1;
}

.city-name-descr {
	color: white;
	margin-top: 10em;
	margin-left: 200px;
}

.city-name-descr h2 {
	margin-bottom: 0px;
	font-size: 120px;
	font-family: "Lobster", cursive;
}

.city-name-descr p {
	font-size: 40px;
	margin-top: 0px;
	margin-left: 30px;
	font-family: "Pacifico", cursive;
	color: antiquewhite;
}

.city-card-list-container {
	flex: 1;
	height: 100%;
	width: 800px;
	overflow-y: auto;
	padding-right: 60px;
}

.city-card-list {
	height: 100%;
}

.city-card-list-content {
	list-style: none;
	display: flex;
	overflow-x: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
	margin-right: 100px;
	margin-left: 60px;
}

.city-card-list-content::-webkit-scrollbar {
	display: none;
}

.city-card-list-content .city-card-item {
	padding-right: 60px;
}

.city-card-attraction {
	background-color: #ccccccd2;
	margin-top: 5em;
	width: 19em;
	height: 33em;
	color: white;
	border-radius: 30px;
	border: 2px rgba(255, 255, 255, 0.507) solid;
	padding: 20px 25px 0px 0px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.city-card-attraction .city-card-icon {
	font-size: 30px;
	margin-left: 8.5em;
}

.city-card-attraction .city-attraction {
	list-style: none;
	font-size: 23px;
	display: flex;
	flex-direction: column;
	align-items: start;
}

.city-attraction-item h2 {
	font-size: 20px;
}
.city-card-attraction .city-card-icon {
	font-size: 30px;
	margin-left: 8.5em;
}

.city-card-attraction .city-attraction {
	list-style: none;
	font-size: 23px;
	display: flex;
	flex-direction: column;
	align-items: start;
}
.city-attraction-item h2 {
	font-size: 20px;
	margin-bottom: 0px;
}
.city-attraction .city-attraction-icon {
	display: flex;
	align-items: center;
	font-size: 17px;
}

/* ///////////////////// */

.about-city {
	display: flex;
	margin: 150px 250px 50px 250px;
	width: 90em;
}
.about-city h2 {
	font-family: "Lobster", cursive;
	font-size: 45px;
	width: 9em;
	padding-left: 40px;
}
.about-city p {
	padding: 50px 50px 40px 50px;
	background-color: rgba(216, 215, 215, 0.308);
	border-radius: 20px;
	margin-left: 20em;
}

.city-things-container h2 {
	font-family: "Lobster", cursive;
	font-size: 45px;
	padding-left: 6em;
}

.city-things-list {
	height: 100%;
}
.city-things-container {
	height: 70%;
	width: 115em;
	padding-right: 60px;
}

.city-things-content {
	list-style: none;
	display: flex;
	overflow-x: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
	margin-right: 100px;
	margin-left: 20em;
}

.city-things-content::-webkit-scrollbar {
	display: none;
}

.city-things-card {
	border-radius: 20px;
	display: inline-block;
	height: 450px;
	width: 20em;
	background-color: rgba(128, 128, 128, 0.233);
	box-sizing: border-box;
	padding: 10px;
	padding-left: 0px;
	margin-right: 1.4em;
}

.city-things-card button {
	border: solid transparent;
	font-size: 31px;
	background: transparent;
	margin-left: 8em;
}
.city-things-desc {
	margin-top: 18em;
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-left: 0px;
}
.city-things-item {
	padding: 3px;
}

/* // */

.city-hotels-list {
	height: 100%;
}
.city-hotels-container h2 {
	font-family: "Lobster", cursive;
	font-size: 45px;
	padding-left: 6em;
	margin-bottom: 0px;
}
.city-hotels-container h3 {
	font-family: "Lobster", cursive;
	font-size: 27px;
	padding-left: 12em;
	font-weight: 100;
}

.city-hotels-container {
	height: 70%;
	width: 115em;
	padding-right: 60px;
}

.city-hotels-content {
	list-style: none;
	display: flex;
	overflow-x: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
	margin-right: 100px;
	margin-left: 20em;
}

.city-hotels-content::-webkit-scrollbar {
	display: none;
}

.city-hotels-card {
	border-radius: 20px;
	display: inline-block;
	height: 450px;
	width: 20em;
	background-color: rgba(128, 128, 128, 0.233);
	box-sizing: border-box;
	padding: 10px;
	padding-left: 0px;
	margin-right: 1.4em;
}

.city-hotels-card button {
	border: solid transparent;
	font-size: 31px;
	background: transparent;
	margin-left: 8em;
}
.city-hotels-desc {
	margin-top: 18em;
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-left: 0px;
}
.city-hotels-item {
	padding: 3px;
}

.city-footer footer {
	margin: 0;
	padding: 0;
	background-color: rgba(211, 209, 209, 0.226);
	color: rgb(0, 0, 0);
	font-size: 23px;
	display: flex;
	flex-direction: column;
	align-items: start;
	padding-left: 15%;
	margin-top: 5em;
}

.city-footer-content {
	margin-top: 20px;
	font-size: 25px;
	display: flex;
	color: #423838ea;
}
.city-footer-content-list {
	padding: 0px 160px;
}
.city-footer-content-list h2 {
	font-size: 25px;
}
.city-footer-list {
	list-style: none;
	font-size: 20px;
}
.city-footer .center-text {
	margin: 0;
	font-size: 18px;
	margin-left: 30%;
	margin-top: 70px;
}

/* signin page */
.sign {
	background: linear-gradient(to right bottom, #072224, #1d47499a);
	height: 60em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.sign .header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 50px 130px;
	color: white;
}

.sign .back-button-container {
	display: inline-flex;
	align-items: center;
	text-decoration: none;
	color: white;
}
.sign .back-button-container,
.sign .sign-container {
	display: inline-flex;
	align-items: center;
}
.sign .back-button-container:hover {
	cursor: pointer;
}

.sign .arrow {
	font-size: 38px;
	margin-right: 5px;
}

.sign .back-text {
	font-size: 22px;
}

.sign .sign-container {
	display: flex;
	align-items: center;
}

.sign .sign-text {
	font-size: 19px;
	margin-right: 20px;
}

.sign .sign-button {
	padding: 6px 24px;
	font-size: 16px;
	border: none;
	border-radius: 5px;
	background-color: transparent;
	border: 1px solid white;
	color: white;
	cursor: pointer;
}
.sign .sign-button:hover {
	color: #214a4d;
	background-color: #d7e0e0;
	cursor: pointer;
}
.sign .content {
	flex: 1;
	display: flex;
	flex-direction: column;
	margin-top: -6em;
}

.sign .center-text {
	width: 20em;
	font-size: 2.6em;
	font-weight: bold;
	color: #102830;
	font-family: "Lobster", cursive;
	margin-bottom: 0.1em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.center-text h4 {
	font-size: 2.3em;
	margin-bottom: -0.6em;
}

.center-text h1 span {
	font-size: 0.7em;
}

.sign .form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%; /* Adjust the width value as per your desired width */
}

.sign .input-label {
	color: #78969b;
	font-size: 24px;
	margin-bottom: 9px;
	position: relative;
}

.sign .input-label::before {
	content: "";
	position: absolute;
	top: -6px;
	left: 0;
	right: 0;
	height: 1px;
	background-color: #5f787c;
	width: 100%; /* Set the width to 100% to span the entire container */
}

.sign .email-input-container,
.sign .name-input-container,
.sign .password-input-container {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}

.sign .password-input-wrapper {
	position: relative;
	display: flex;
	align-items: start;
}

.sign .lock-icon {
	position: absolute;
	right: 10px;
	font-size: 30px;
	background-color: #5f787c;
	color: #214a4d;
	border-radius: 50%;
	padding: 7px;
}

.sign input {
	font-size: 20px;
	background-color: transparent;
	border: none;
	color: white;
	padding-bottom: 35px;
	outline: none;
	width: 350px; /* Adjust the width value as per your desired width */
}

.sign input::placeholder {
	font-size: 14px;
	color: white;
}

.sign button[type="submit"] {
	font-size: 18px;
	color: #214a4d;
	padding: 9px 3em;
	background-color: #b6c3c4;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}
.sign button[type="submit"]:hover {
	color: #b6c3c4;
	background-color: #5a7274;
}

/* //////// signin  responsive /* Responsive Styles */
@media (max-width: 768px) {
	.sign .header {
		margin: 30px 0px;
		padding: 0px;
	}
	.sign .back-text {
		font-size: 1.2rem;
	}

	.sign .arrow {
		font-size: 23px;
	}

	.sign .sign-text {
		margin-right: 6px;
		font-size: 0.9rem;
	}

	.sign .sign-button {
		padding: 0.4rem 0.6rem;
		font-size: 0.8rem;
	}

	.sign .center-text {
		margin-top: 5em;
		font-size: 1.3rem;
	}

	.sign .input-label {
		font-size: 1.2rem;
	}

	.sign .lock-icon {
		font-size: 2rem;
		padding: 0.5rem;
	}

	.sign input {
		font-size: 1.2rem;
		padding-bottom: 1.8rem;
		width: 100%;
	}

	.sign input::placeholder {
		font-size: 0.9em;
	}

	.sign button[type="submit"] {
		font-size: 1rem;
		padding: 0.6rem 2rem;
	}
}

/* ////////////////////////////// */
