/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 */

* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	background-size:cover;
	background-repeat: no-repeat;
}

/*  ////////////  home page /////// */
.home {
	display: flex;
	flex-direction: column;
}

.navbar {
	display: flex;
	overflow: hidden;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	padding: 0 170px 0 0;
}
.menu {
	list-style: none;
	display: flex;
}
.navbar li {
	margin: 0 20px;
	padding: 25px;
}
.navbar a {
	color: black;
	text-decoration: none;
	text-align: center;
	font-size: 27px;

}
.navbar a span{
  padding:  10px 15px;
  color: white;
  font-size: 24px;
  background-color: rgb(18, 2, 44);
  border-radius: 19px;
} 
.menu li a {
	position: relative;
  }
  
.logo {
  display: inline-block;
  font-size: 55px;
  height: 250px;
  margin-left: 280px ;
  font-family: 'Abril Fatface', cursive;
}

.background{
  width: 82em;
  height: 500px;
  margin-left: 20em;
  background-image: url('./assets/land.png');
  background-size:cover;
	background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-bar{
  width: 100%;
  max-width: 600px;
  background-color: rgba(250, 235, 215, 0.411);
  display: flex;
  align-items: center;
  border-radius: 40px;
  padding: 0px 20px;
  margin-bottom: 8em;
}

.search-bar input{
  background: transparent;
  flex: 1;
  outline: none;
  font-size: 24px;
  border: 0;
}
::placeholder{
  color: rgb(63, 61, 61);
  font-size: 24px;
}

.search-bar button{
  border: 0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: transparent ;
  cursor: pointer;
}

.search-list{
  font-size: 35px;
  background-color: rgb(12, 48, 36);
  height: 30px;
  width: 50px;

}

.search-results{
  margin-top: 120px;
  width: 595px;
  height: 100px;
  background-color: rgba(250, 235, 215, 0.411);
  overflow: hidden;
  overflow-y: auto;
  border-radius: 8px;
  position: absolute;
  top: 356px;
  left: 680px;
  border-radius: 5px 5px 8px 8px ;
  border-radius: 26px;
}

.search-results::-webkit-scrollbar{
  display: none;
}

.search-item {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding-left: 20px;
  padding-top: 10px;
  font-size: 20px;
} 
.search-item p{
  font-size: 28px;
}

.activity h1{
  font-size: 35px;
  color: rgb(37, 22, 2);
  padding-top: 30px;
  padding-left: 280px;
  color: #423838ea;
}

.activity .activity-items{
  list-style: none;
  display: flex;
  margin-left: 250px;
}
.activity .activity-items li{
  display: flex;
  align-items: center;
  border: solid 2px;
  border-radius: 10px;
  border-color: rgba(128, 128, 128, 0.295);
  margin: 10px 30px ;
  padding: 0px 30px;
  font-size: 20px;
  color: rgb(77, 77, 77);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.icons {
  font-size: 60px;
  padding-right: 26px;
}

.popular-places h1{
  font-size: 35px;
  color: #423838ea;
  padding-top: 30px;
  padding-left: 280px;
}

.catagory{
  display: flex;
  margin-left: 300px;
}
.catagory-items{
  margin: 15px 60px 0 50px;
  font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.category-card {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 20px 300px 80px 300px;
}

.card-items {
  width: 300px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
}

.card-items img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.card-items h2 {
  margin: 10px;
}

.card-items p {
  margin: 10px;
  display: flex;
  align-items: center;
}

.card-items svg {
  margin-left: 5px;
}

.footer{
	margin: 0;
	padding: 0;
	background-color:rgba(128, 128, 128, 0.397) ;
	color: rgb(255, 255, 255);
	font-size: 23px;
	display: flex;
	align-items: center;
	padding-left: 35%;
}

.logo-bottom{
  display: flex;
  justify-content: space-around;
  margin: 0 400px 0 240px;
  font-size: 25px;
  color: #423838ea;
}
.logo-bottom h6{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  margin-bottom: 0;
}
.logo-bottom h1{
  padding-left: 20px;
  margin-bottom: 0;
}
.logo-bottom p{
  font-size: 20px;
}

.line{
  height: 1px;
  background-color: #ccc;
  margin: 70px 270px 0 270px;
}

.socials{
  margin-top: 120px;
	margin-left: 710px;
}
.social-items{
	list-style: none;
  display: inline-block;
  margin-right: 20px;
  border-radius: 50%;
  border: solid 2px #4a516118;
  padding-top: 13px;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 40px;
}
.social-items li{
  background-color: aqua;
  border-radius: 20px;
}
.social-items a{
	font-size: 30px;
	color: #0000007e ;
}
.social-items a:hover{
	color: #6481a894 ;
}
.center-text{
	text-align: center;
  font-size: 15px;
  margin-bottom: 150px;
}



/* //////////    hotels page  */

.hotels {
  background-image: url('./assets/hotels-bak.jpg');
  background-size:cover;
	background-repeat: no-repeat;
  background-position: center;
  height: 60em;
}
.hotels::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60em;
  background-color: rgba(0, 0, 0, 0.945);
  opacity: 0.5; 
}

.hotels-nav {
    position: relative;
    z-index: 1;
    display: flex;
    overflow: hidden;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 10px 80px 20px 80px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

.hotels-nav h1{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 60px;
  font-weight: 300;
}

.hotels-nav .hotel-list {
	list-style: none;
	display: flex;
}
.hotel-list li {
	margin: 0 20px;
	padding: 25px;
  font-size: 28px;
}
.hotel-list a {
	color: white;
	text-decoration: none;
	text-align: center;
}

.hotel-list button{
  margin-top: 23px;
  margin-left: 30px;
  border-radius: 10px;
  background-color: rgba(250, 235, 215, 0.158);
  border: solid 1px rgba(250, 235, 215, 0.616);
  height: 40px;
  color: rgb(255, 250, 250);
  padding: 5px 37px;
  font-size: 23px;
}
.hotel-descr{
  position: relative;
  z-index: 1;
  color: rgb(255, 255, 255);
  height: 5em;
  width: 60em;
  margin: 10px 0px 80px 30em;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.hotel-descr-item {
  padding: 20px;
  font-size: 66px;
  font-family: 'Luxurious Script', cursive;
  font-weight: 200;
}
.hotel-descr-item h6{
  font-size: 2em;
  font-weight: 100;
  margin-bottom: 0;
}
.hotel-descr-item p{
  margin-top: 0;
  margin-left: 20%;
}

.hotel-home{
  position: relative;
  z-index: 1;
  display: flex;
  color: white;
  list-style: none;
  margin-left: 30%;
  margin-top: 320px;
  font-size: 40px;
}

.hotel-home-list a {
  padding: 10px 75px;
  color: white;
	text-decoration: none;
	text-align: center;
	font-size: 35px;
  position: relative
}


.hotel-home-list a:before {
	content: ""; 
	position: absolute; 
	top: 87%;
	left: 50%; 
	transform: translate(-50%, -50%); 
	width: 0; 
	height: 3px; 
	background-color: rgba(250, 235, 215, 0.74); 
	transition: width 0.2s ease-in-out; 
  }
  
.hotel-home-list a:hover:before {
	width: 40%; /* change the width to 100% on hover */
  }

.hotel-form{
  position: relative;
  z-index: 1;
  margin: 4em 15em;
  border-radius: 4px;
  font-size: 25px;
  background-color: rgba(250, 235, 215, 0.404);
}
.hotel-book-form{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.hotel-form .hotel-book{
  display: flex;
  align-items: center;
}

.hotel-book input{
  border: solid 0px rgba(255, 255, 255, 0.39);
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.185);
  height: 38px;
  width: 7em;
  margin-left: 15px;
  font-size: 25px;
  align-items: center;
  color: rgba(255, 255, 255, 0.822);
  padding-left: 17px;
}
.hotel-book input::placeholder{
  color: rgba(255, 255, 255, 0.822);
}
.hotel-book button{
  font-size: 20px;
  border: solid 0px rgba(255, 255, 255, 0.39);
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.288);
  color: white;
  padding: 10px 15px;
}


.hotel-card {
  position: relative;
  z-index: 1;
  top: 10%;
  margin: 100px 20em 0px 20em ;
  height: 30em;
  background-image: url('./assets/hotelo.jpg');
  background-size:cover;
	background-repeat: no-repeat;
  background-position: center;

}

.hotel-card-list {
  list-style: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.452);
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-size: cover;
  background-position: center;
  opacity: 0.8;
  transition: opacity 0.8s ease-in-out;
  color: white;
  margin: 0;
}

.hotel-card-list .hotel-item {
  font-family: 'Luxurious Script', cursive;
  font-size: 45px;
  display: flex;
  align-items: center;
  margin: 2px;
  margin-left: 4em;
}

.hotel-item .hotel-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 0.7em;
  width: 10em;
  font-size: 46px;
  padding: 0 4.5em 0 0.2em;
}
.hotel-card-list .hotel-item button {
  margin-left: 7em;
  font-size: 45px;
  background-color: transparent;
  border: none;
}

.hotel-card-list:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.637);
}

.hotel-hover {
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.hotel-card-list:hover .hotel-hover {
  opacity: 1;
}

.hotel-hover-item{
  display: flex;
  margin-left: 2em;
}
.hotel-hover-item li{
  font-size: 25px;
  padding: 0px 25px 50px 25px;

}
.hotel-hover button {
  margin-right: 10px;
  margin-bottom: 3em;
  border-radius: 28px;
  border: solid rgba(255, 255, 255, 0.363) 2px;
  font-size: 22px;
  color: white;
  font-family:'Times New Roman', Times, serif;
  background-color: rgba(255, 255, 255, 0.363);
  padding: 8px 55px;
  background: transparent;
}
.hotels-footer{
  background-color: rgba(231, 231, 231, 0.205);
  /* width: 100%; */
  position: relative;
  z-index: 1;
  top: 25%;
  /* color: black; */
  /* margin: 5px 40px 20px 0px; */
}
.hotels-footer-one {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.hotels-footer-one h2{
  font-size: 40px;
  margin-bottom: 0px;
}
.hotels-footer-one .footer-title{
  margin-top: 0px;
  color: red;
  
}
.hotels-footer-one ul{
  display: flex;
  list-style: none;
}

.footer-nav{
  margin-top: 0px;
  font-size: 23px;
}
.footer-nav li{
  color: rgb(32, 32, 73);
  padding: 10px 35px;
}

.footer-nav li:hover{
  color: red;
}

.hotels-footer .hotel-social {
  border: solid 2px rgb(32, 32, 73); 
  font-size: 25px;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  margin-right: 40px ;
  padding: 5px 20px 20px 5px;

}

.hotel-social:hover {
  background-color: rgb(32, 32, 73);
  border-color: rgb(32, 32, 73);
}


.hotel-social:hover a svg {
  fill: white !important;
}

.hotels-footer .footer-para{
  width: 36%;
  padding: 10px 20px;
}
.hotel-container {
  width: 90%;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(32, 32, 73);
}

.footer-para {
  text-align: center;
}

.each-hotel{
  background-image: url('./assets/hotelo.jpg');
  background-size:cover;
	background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 91.2em;
}
.each-hotel .hotel-nav{
  margin-left: 8px;
}
.each-hotel::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 76%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.945);
  opacity: 0.5; 
}

.each-hotel .hotel-descr-item {
  background-color: rgba(250, 235, 215, 0.151);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin-right: 12em;
  margin-top: 5em;
  font-size: 4em;
}

.each-hotel .hotel-descr-item h4 {
  font-weight: 500;
  width: 10em;
  margin: 0px;
  padding-left: 10px;
}

.sidebar {
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center right;
  width: 23%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  overflow-y: scroll;
}
.container-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 40px 20px 30px 0px;
}

.container img {
  width: 100%;
  height: 16em;
}

.sidebar-box {
  backface-visibility: hidden;
  background-color: #fff;
}

.sidebar li:hover img {
  transform: scale(1.15);
}

.sidebar-img {
  display: block;
  overflow: hidden;
}

.sidebar-img img {
  transition: all 1s;
}

.container h3 {
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 20px;
  font-weight: bold;
}

.container p {
  margin-top: 5px;
  font-size: 16px;
}


.each-hotel .footer-nav-socials{
  position: relative;
  z-index: 1;
  font-size: 30px;
  top: 10em;
  margin-left: 30em;
  margin-right: 40px;
  display: flex;
  justify-content: space-around;
  font-size: 35px;
  
}

.each-hotel .footer-nav-socials li{
  border: 2px white solid;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  list-style: none;
  padding: 7px 6px;
  
}
.each-hotel .footer-nav-socials li{
  background: transparent;
}
.each-hotel .footer-nav-socials li:hover a svg {
  fill: rgb(58, 58, 134) !important;
}




/* //////////// city style ///////// */


.city {
  background-image: url("./assets/addis2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.city-homepage{
  display: flex;
  justify-content: space-between;
}
.city-name {
  color: white;
  display: flex;
  justify-content: flex-start;
}

.city-name-descr { 
  margin-top: 50px;
  margin-left: 200px;
}
.city-name-descr h2{
  font-family: 'Pacifico', cursive;
  margin-bottom: 0px;
  font-size: 100px;
}
.city-name-descr p{
  font-size: 40px;
  margin-top: 0px;
  margin-left: 30px;
  font-family: 'Pacifico', cursive;
}

.city-card-list-content{
  display: flex;
  justify-content: space-around;
}

.city-card-list-content .city-card-item{
  padding-right: 60px;
}
.city-card-attraction{
  background-image: url('./assets/addis2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ccccccd2;
  margin-top:5em;
  width: 19em;
  height: 33em;
  color: white;
  border-radius: 30px;
  border: 2px rgba(255, 255, 255, 0.507) solid;
  padding: 20px 25px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.city-card-attraction .city-card-icon{
  font-size: 38px;
  margin-left: 6.5em;
}

.city-card-attraction .city-attraction{
  list-style: none;
  font-size: 23px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
.city-attraction .city-attraction-icon{
  display: flex;
  align-items: center;
  font-size: 17px;
}
.card-arrows{
  display: flex;
  justify-content: space-around;
  padding: 6px 180px;
  margin-left:28em;
  color: white;
  font-size: 40px;
}
.about-city{
  display: flex;
  margin: 150px 250px 50px 250px;
  width: 90em;
}
.about-city h2{
  font-size: 40px ;
  width: 9em;
  padding-left: 100px;
}
.about-city p{
  padding: 50px 50px 40px 50px;
  background-color: rgba(216, 215, 215, 0.308);
  border-radius: 20px;
  margin-left: 20em;
}



/* ////////////////// SIGNIN ////////////// */
.container {
  margin: 0;
	padding: 0;
  display: flex;
  flex-direction: row;
}

.left-container {
  width: 50%;
  height: 100vh;
  position: relative;
}

.right-container {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.buttons-container {
  position: absolute;
  bottom: 40%;
  left: 44%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.login-btn,
.signup-btn {
  font-size: 34px;
  display: inline-block;
  margin-bottom: 10px;
  padding: 15px 30px;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.signup-btn {
  margin-bottom: 0;
}

form {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
  background-color: #fff;
  border-radius: 12px;
  width: 22em;
  height: 29em;
  color: #4a4b4e;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
}

form label {
  margin-bottom: 12px;
  font-weight: bold;
}

form input {
  padding: 12px;
  margin-bottom: 12px;
  border: none;
  border-bottom: 2px rgba(128, 128, 128, 0.308) solid;
  width: 25em;
}
form input::placeholder{
  font-size: 16px;
  color: rgba(128, 128, 128, 0.781);
}
form input[type="submit"] {
  background-color: #040535;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  width: 130px;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 30px;
  margin-left: 40%;
}

h1 {
  color:#040535 ;
  font-size: 36px;
  margin-left: 35%;
  margin-bottom: 24px;
}
.welcome h1 {
  width: 100%;
  margin-top: 0px;
  margin-left: 0%;
  font-size: 55px;
}
.welcome p {
  font-size: 22px;
  color: #666;
  margin-bottom: 24px;
  text-align: center;
}
